<button routerLink="/students" class="btn btn-success m-5 p-3"> Go Back</button>

<div class="container d-flex justify-content-center mt-5 ml-3">

    <div class="card">

        <div class="top-container">

            <img [src]="studentData.imgUrl" class="img-fluid profile-image" width="70" m-3>

            <div class="ml-3">
                <h5 class="name">{{studentData.username}}</h5>

            </div>
        </div>

        <div class="recent-border mt-4">
            <span class="recent-orders">{{studentData.email}}</span>
        </div>
        <div class="wishlist-border pt-2">
            <span class="wishlist">{{studentData.phone}}</span>
        </div>


    </div>

</div>